<div class="resetpasswordBodyClass">
    <div class="loginContainer">
        <img id="logo" src="../../img/logo1.png">
        <form class="loginForm">
            <p>YOU FORGOT YOUR PASSWORD?</p>
            <p><b>Email</b></p>
            <input class="dux-input"  type ="text"  ng-model="loginModel.email">
            <button class="dux-button red round big no-border" type="submit" ng-click="forgot(loginModel)">RESET MY PASSWORD</button>
            <p id="registrationlink">Back to login. <b><a class="registrationlinka" ui-sref="login">Login</a></b></p>
        </form>
        <div class="forgotPasswordMessage"> {{message}} </div>
    </div>
</div>
