<p class="popupHeader">Change password</p>
<form class="changePasswordPopup popupContent"  ng-controller="changePasswordSettingsController">
        <p>Old password</p>
        <input placeholder="Enter your old password here" type="password" ng-model="changePasswordModel.oldPassword">
        <p>New password</p>
        <input placeholder="Enter your new password here" type="password" ng-model="changePasswordModel.newPassword">
        <p>Confirm new password</p>
        <input placeholder="Re-Enter your new password here"  type="password" ng-model="changePasswordModel.passwordConfirmation">

        <button ng-click="changePass(changePasswordModel)" type="button" class="dux-button big red round" >Confirm</button>
</form>
