<div class="changepasswordBodyClass">
    <div class="loginContainer">
        <img id="logo" src="../../img/logo1.png">
        <form class="loginForm">
            <p>Change your Password</p>
            <p><b>NEW PASSWORD</b></p>
            <input class="dux-input" type="password" ng-model="loginModel.password">
            <p><b>CONFIRM PASSWORD</b></p>
            <input class="dux-input" type="password" ng-model="loginModel.confirmPassword">
            <button class="dux-button red round big no-border" type="submit" ng-click="changePassword(loginModel)">
                CHANGE MY PASSWORD
            </button>
            <p id="registrationlink">Back to login. <b><a class="registrationlinka" ui-sref="login">Login</a></b></p>
        </form>
        <div class="forgotPasswordMessage"> {{message}}</div>
    </div>
</div>


