.picturesContainerPopup #savebutton{
    border: 1px solid;
    border-radius: 9px;
    width: 122px;
    height: 37px;
    background-color: rgb(251,130,131);
    color: white;
}
#ngdialog2 > div.ngdialog-content{
    width: 587px;
    background-color: white;
    width:500px;

}
#ngdialog1 > div.ngdialog-content > div{
    background-color: darkgray;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content{
    width:500px !important;
}
.picturesContainerPopup{
    width:500px;
    background-color: white!important;
    padding-left:0px !important;
}
.PictureEdit{
    width: 500px !important;
    padding: 50px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    border: 1px solid;
    border-radius: 9px;
    width: 139px;
    height: 50px;
    background-color: rgb(251,130,131);
    color: white;
    margin-left: 36%;
    margin-bottom: 10%;
}
.deletePhotoheader{
    background-color: rgb(73,99,116);
    color:white;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 22px;
}